#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #modal-content {
    position: absolute;
    background-color: #332B2B;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #f9f6f6;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  label, input {
    padding: 5px;
    margin: 5px;
  }
  
  #modal-button {
    width: 50%;
  }

  #modal-content h1 {
    padding: 0;
    align-self: center;
  }
  
  #modal-content input {
    width: 200px;
  }

  .btn.close-modal {
    background: linear-gradient(190deg, #201f1f, #454545 ,#797878);
  }

  .btn.close-modal:hover {
    background: #3e3e3e;
  }
