.gallery ul {
   display: flex; 
   flex-wrap: wrap;
   justify-content: center;
   
}

.gallery ul > li {
    display: flex;
    flex-direction: column;
    max-height: auto;
    box-sizing: border-box;
    width: 375px;
}

.gallery img {
    box-sizing: border-box;
    width: 350px;
    height: 350px;

}

.gallery img:hover {
    cursor: pointer;
}

.info {
    display: grid; 
    grid-template-columns: 2fr 1fr;
}

.info h3 {
    padding: 5px 10px;
    margin: 0px;
    font-size: 15px;
}

#star {
    justify-self: end;
    padding-right: 10px;
}

.gallery {
    flex-direction: row;
    min-width: 500px;
}
