.gallery ul {
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
}

.gallery  li {
    display: flex;
    flex-direction: column;
    min-width: 380px;
    max-width: 440px;
    max-height: auto;
    box-sizing: border-box;
}

.gallery img {
    width: 360px;
    height: 360px;
    box-sizing: border-box;
}

.info {
    display: grid; 
    grid-template-columns: 2fr 1fr;
}

.info h3 {
    padding-top: 0;
    padding-left: 15px;
    margin: 0px
}

#star {
    justify-self: end;
    padding-right: 10px;
}
