@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap&family=SUSE:wght@100..800&display=swap&family=Playpen+Sans:wght@100..800&display=swap');

* {
    font-family: "Tajawal", sans-serif;
    color: rgb(255, 249, 242);
}

#root{
    display: flex;
    flex-direction: column;
    align-self: center;
}
body {
    background-color: #262020;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1, h4 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    color: #458aeb;
        
}

h2, h5 {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    color: #7ba7e5;
}

h3 {
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
  }

a {
    text-decoration: none;
    color: #a3a3a3;
}

.btn {
    background: linear-gradient(190deg, #e86b6b, #e13c3c ,#DB0000);
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin: 5px 2px;
    font-weight: 600;
    color: #faeded;
    width: fit-content;
    justify-content: center;
}
.btn:hover {
    background: #e13c3c;
    cursor: pointer;
}

.btn:active {
    background-color: #DB0000;
}

.nav {
    border: 1px solid black;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: .25fr 1.5fr .25fr;
    justify-items: center;
    background-color: #332B2B;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    position: sticky;
    top: 10px;
    min-width: 750px 
}

.active {
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    color: #faeded;
}

.btn.disabled {
    font-weight: bold;
    color:black;
    background-color:salmon;
}

img {
    background-color: #faeded;
    box-shadow: 0 0 8px #f9f6f6;
    padding: 15px;
    border-radius: 10px;
}

.card{
    background-color: #332B2B;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;
    box-shadow: 0 0 5px #f9f6f6;
    justify-content: space-around;
}

input, select, textarea {
    color: #332B2B;
    background-color: #fbe9df;
}

.alert {
    color: rgb(233, 180, 45);
    font-family: "DM Serif Display", sans-serif;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #332B2B;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 5px #f9f6f6;
    border: 1px solid black;
    margin: 10px;
}
form > div {
    padding: 5px 10px;
}

ul, li {
    list-style: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

#demo-login {
    padding: 5px;
    border-radius: 5px;
    text-decoration: underline;

}
#demo-login:hover {
    cursor: pointer;
    background-color: #262020;
}

.error {
    color: #ff0000;
    font-weight: bold;
    line-height: 80%;

}

@media screen and (max-width:850px) {
    .nav {
        justify-items: space-around;
        grid-template-columns: .25fr 1fr .25fr;
    }
    
    .expendable {
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 500px;
    }

    .images  ul {
        display: flex;
        flex-wrap: wrap;
    }

    .images > .card {
        flex-direction: column;
        justify-content: baseline;
    }

    #callout-box  {
        max-height: 170px;
    }
    #spot-form > form {
        align-self: center;
        width: auto;
       
    }
    #spot-form  > form > * {
        margin: 10px 50px;
        width: 300px;
    }
}

@media screen and (max-width:500px) {

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px
}

.profile-dropdown {
    right: 10px
}
#spot-form  > form > * {
    margin: 10px 50px;
    width: auto;
}

}
