@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Georama:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
    font-family: "Tajawal", sans-serif;
    color: rgb(255, 249, 242);
}

body {
    background-color: #262020;
    display: flex;
}
h1, h4 {
    font-family: "DM Serif Display", serif;
    color: #458aeb;    
}

h2, h5 {
    font-family: "Georama", sans-serif;
    color: #2a6cc8;
}
a {
    text-decoration: none;
    color: #a3a3a3;
}

.btn {
    background: linear-gradient(190deg, #e86b6b, #e13c3c ,#DB0000);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    margin: 5px 2px;
    font-weight: 600;
    color: #faeded;
    display: flex;
    width: fit-content;
    justify-content: center;
}
.btn:hover {
    background: #e13c3c;
    cursor: pointer;
}

.btn:active {
    border: 1px solid white;
    background-color: #DB0000;
}

.nav {
    border: 1px solid black;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: .25fr 2fr .25fr;
    justify-items: center;
    background-color: #332B2B;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 40px;
    position: sticky;
    top: 10px
}

.active {
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    color: #faeded;
}

.disabled {
    font-weight: bold;
    color:black;
}
.disabled:hover{
    color:black;
}

img {
    background-color: #faeded;
    box-shadow: 0 0 8px #f9f6f6;
    padding: 15px;
    border-radius: 10px;
}

.card{
    background-color: #332B2B;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;
    box-shadow: 0 0 5px #f9f6f6;
    justify-content: space-around;
}

input, select, option {
    color: #332B2B;
    background-color: #faeded;
}

.alert {
    color: rgb(233, 180, 45);
    font-family: "DM Serif Display", sans-serif;
    font-weight: bold;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #332B2B;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 5px #f9f6f6;
    border: 1px solid black;
    margin: 10px;
}
form > div {
    padding: 5px 10px;
}

ul {
    list-style: none;
}

@media screen and (max-width:850px) {
 
    .nav {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .nav li {
        line-height: 10px;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 500px;
    }

    .images  ul {
        display: flex;
        flex-wrap: wrap;
    }

    .images > .card {
        flex-direction: column;
        justify-content: baseline;
    }

    #callout-box  {
        max-height: 170px;
    }

    * {
        flex-grow: 1;
    }
}
