.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.modal-item:hover {
    cursor: pointer;
    background-color: #262020;
}

.modal-item {
    color: #a3a3a3;
    padding: 15px;
    border-radius: 5px;
}

.nav > li {
    align-self: center;
    scale: 1.25;
}

.profile-dropdown {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    min-width: 100px;
    flex-direction: column;
    background-color:  #332B2B;
    box-shadow: 2px 2px 5px #faeded;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
}

.user {
    width: fit-content;
    padding: 5px;
}

.end-align {
    justify-self: end;
}
