.hidden {
    display: none;
}

.modal-item:hover {
    background-color:   #E8F0FE;
    text-decoration: underline;
    cursor: pointer;
    width: 50%;
    color: black;
}

/* .nav > li {
    display: block;
} */
