.hidden {
    display: none;
}

.modal-item:hover {
    cursor: pointer;
    background-color: #262020;
}

.modal-item {
    color: #a3a3a3;
    padding: 15px;
    border-radius: 5px;
}

.nav > li {
    align-self: flex-end;
    scale: 1.5;
}

.profile-dropdown {
    position: absolute;
    top: 50px;
    right: 30px;
    display: flex;
    width: 100px;
    flex-direction: column;
    background-color:  #332B2B;
    box-shadow: 2px 2px 5px #faeded;
    margin-right: 10px;
    border-radius: 5px;
    padding: 0;
}
